# Load Datasets

In [16]:
import pandas as pd

# Load datasets
books = pd.read_csv("books datasets/Books.csv")
ratings = pd.read_csv('books datasets//Ratings.csv')

C:\Users\Noor Saeed\AppData\Local\Temp\ipykernel_16268\197446936.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("books datasets/Books.csv")

In [4]:
# Merging both dataset
df = pd.merge(books, ratings, on='ISBN', how='left')

# Data Cleaning

In [5]:
df.isnull().sum()

ISBN                      0
Book-Title                0
Book-Author               2
Year-Of-Publication       0
Publisher                 2
Image-URL-S               0
Image-URL-M               0
Image-URL-L               4
User-ID                1209
Book-Rating            1209
dtype: int64

In [6]:
df.dropna(inplace=True)

In [9]:
df = df[['ISBN','User-ID','Book-Title','Book-Author','Publisher','Book-Rating','Image-URL-M']]

In [10]:
df.shape

(1031128, 7)

In [12]:
df = df.sample(n=20000,random_state=42).reset_index(drop=True)

In [13]:
df.shape

(20000, 7)

In [15]:
df.to_csv("books datasets/final_df.csv")

In [37]:
df = pd.read_csv("books datasets/final_df.csv")

# Popularity Base Recommendation System

To implement a popularity-based recommendation system using the dataset you provided, the idea is to recommend the most popular books based on the number of ratings or the average rating score. Hereâ€™s how you can do this:


Step 1: Group the dataset by Book-Title and calculate the average rating and the number of ratings for each book.

Step 2: Sort the books based on either the average rating or the number of ratings (whichever you define as "popularity").

Step 3: Recommend books that have the highest popularity score.

In [38]:
# Step 1: Calculate average ratings and the number of ratings
book_ratings = df.groupby('Book-Title').agg({'Book-Rating': ['mean', 'count']}).reset_index()

# Step 2: Sort the books based on the count of ratings (popularity) or average rating
book_ratings.columns = ['Book-Title', 'Avg-Rating', 'Num-Ratings']
book_ratings_sorted = book_ratings.sort_values(by=['Num-Ratings', 'Avg-Rating'], ascending=False)

# Step 3: Recommend the top N popular books
top_books = book_ratings_sorted.head(10)  # Change N to the number of books you want to recommend

# Step 4: Merge with the original dataset to include Author, Publisher, and Image-URL-M
top_books_final = pd.merge(top_books, df[['Book-Title','Image-URL-M']], on='Book-Title', how='left')

# Step 5: Drop duplicate rows based on Book-Title
top_books_final = top_books_final.drop_duplicates(subset=['Book-Title'])

# Display the top N recommended books with the additional columns
top_books_final

,Book-Title,Avg-Rating,Num-Ratings,Image-URL-M
0,Wild Animus,1.063492,63,http://images.amazon.com/images/P/0971880107.0...
63,The Lovely Bones: A Novel,4.000000,29,http://images.amazon.com/images/P/0316666343.0...
92,Divine Secrets of the Ya-Ya Sisterhood: A Novel,4.181818,22,http://images.amazon.com/images/P/0060928336.0...
114,The Da Vinci Code,4.045455,22,http://images.amazon.com/images/P/0385504209.0...
136,The Nanny Diaries: A Novel,3.952381,21,http://images.amazon.com/images/P/0312291639.0...
157,Summer Sisters,3.294118,17,http://images.amazon.com/images/P/0440226430.0...
174,The Five People You Meet in Heaven,5.062500,16,http://images.amazon.com/images/P/0786868716.0...
190,Suzanne's Diary for Nicholas,4.062500,16,http://images.amazon.com/images/P/0446679593.0...
206,Me Talk Pretty One Day,3.800000,15,http://images.amazon.com/images/P/0316777722.0...
221,A Painted House,2.533333,15,http://images.amazon.com/images/P/038550120X.0...

In [39]:
top_books_final.to_csv("books datasets/top_books_final.csv")